<div style="align-items:center; text-align:center;">
    <section>
        <p style="font-size:36px">SaveMyDay</p><hr>
        <p style="font-size:28px">מערכת המאפשרת לך לקבוע יום סידורים בצורה האופטימלית עבורך</p><br /><br />
        <img src="../Style/Images/home.png" style="width:700px; height:358px" />
        <br /><br /><br /><br /><br />
        <p style="font-size:28px"><a class="bg-primary img-thumbnail" href="#/calendar" style="width:300px;height:60px">התחל כאן</a></p><br />
    </section>
</div>
