<div style="align-items:center; text-align:center;">
    <hr>
    <h2 class="intro-text text-center">
        <strong>ראשי</strong>
    </h2>
    <hr><br/>
    <section>
        <p style="font-size:28px">SaveMyDay</p><br />
        <p style="font-size:22px">מערכת המאפשרת לך לקבוע יום סידורים בצורה האופטימלית עבורך</p><br /><br />
        <img src="../Style/Images/home.png" style="width:700px; height:358px" />
        <br /><br /><br /><br /><br />
        <p style="font-size:34px"><a class="bg-primary img-thumbnail" href="#/calendar" style="width:300px;height:70px">התחל כאן</a></p><br />
    </section>
</div>
