
<div style="padding-left:130px;padding-right:150px;">
    <section id="information" class="row">
        <div class="col-md-8">
            <div id="map_canvas" style="width: 600px; height: 500px;"></div>
        </div>
        <div class="col-md-4">
            <h2 style="font-weight:bold">מסלולים אופציונליים</h2>
            <br />
            <div ng-app="single-page-app" ng-controller="mapCtrl">
                <p class="path-title" ng-click="ShowPath(1)">
                    מסלול 1
                </p>
                <div ng-show="Path1">
                    <h4>פירוט מסלול 1</h4>
                    <ul>
                        <li>
                            תור לרופא עור (רחוב הרצל 8, חולון)
                        </li>
                        <li>
                            תור לספר (רחוב המסגר 4, ת"א)
                        </li>
                        <li>
                            תור לדואר (רחוב אלי כהן 15, חולון)
                        </li>
                    </ul>
                </div>
                <p class="path-title" ng-click="ShowPath(2)">
                    מסלול 2
                </p>
                <div ng-show="Path2">
                    <h4>פירוט מסלול 2</h4>
                    <ul>
                        <li>
                            תור לרופא עור (רחוב הרצל 8, חולון)
                        </li>
                        <li>
                            תור לספר (רחוב המסגר 4, ת"א)
                        </li>
                        <li>
                            תור לדואר (רחוב אלי כהן 15, חולון)
                        </li>
                    </ul>
                </div>
                <p class="path-title" ng-click="ShowPath(3)">
                    מסלול 3
                </p>
                <div ng-show="Path3">
                    <h4>פירוט מסלול 3</h4>
                    <ul>
                        <li>
                            תור לרופא עור (רחוב הרצל 8, חולון)
                        </li>
                        <li>
                            תור לספר (רחוב המסגר 4, ת"א)
                        </li>
                        <li>
                            תור לדואר (רחוב אלי כהן 15, חולון)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
